<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Modifier une configuration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
    <div class="container my-5">
        <h3> Modifier une configuration</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-8">
                    <form action="#" th:action="@{/config/update}" th:object="${config}" method="post">
                        
                        <input type="hidden" th:field="*{id}" />
                        <div class="row">
							
						    <div class="form-group col-md-8">
                              <label for="about" class="col-form-label">A propos</label> <input type="text" th:field="*{about}" class="form-control" id="about" placeholder="A propos"> <span th:if="${#fields.hasErrors('about')}" th:errors="*{about}" class="text-danger"></span>
                            </div>
							
                            <div class="form-group col-md-8">
                              <label for="logo" class="col-form-label">Logo</label> <input type="file" th:field="*{logo}" class="form-control" id="logo" placeholder="Logo"> <span th:if="${#fields.hasErrors('logo')}" th:errors="*{logo}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="email" class="col-form-label">Email</label> <input type="text" th:field="*{mail}" class="form-control" id="mail" placeholder="Email"> <span th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}" class="text-danger"></span>
                            </div>

							<div class="form-group col-md-8">
                                <label for="adresse" class="col-form-label">Adresse</label> <input type="text" th:field="*{adresse}" class="form-control" id="adresse" placeholder="adresse"> <span th:if="${#fields.hasErrors('adresse')}" th:errors="*{adresse}" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group col-md-8">
                                <label for="telephone" class="col-form-label">Téléphone</label> <input type="text" th:field="*{telephone}" class="form-control" id="telephone" placeholder="Telephone"> <span th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group col-md-8">
                                <label for="isActive" class="col-form-label">Actif</label> <input type="checkbox" th:field="*{isActive}" class="form-control" id="isActive" placeholder="" > <span th:if="${#fields.hasErrors('isActive')}" th:errors="*{isActive}" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-8">
                                <input type="submit" class="btn btn-primary" value="Modifier la configuration">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
