<div th:fragment="sidebar">
	<!-- Sidebar -->
	<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

		<!-- Sidebar - Brand -->
		<a class="sidebar-brand d-flex align-items-center justify-content-center" th:href=@{/admin}>
			<div class="sidebar-brand-icon rotate-n-15">
				<i class="fas fa-laugh-wink"></i>
			</div>
			<div class="sidebar-brand-text mx-3">Admin <sup>GK</sup></div>
		</a>

		<!-- Divider -->
		<hr class="sidebar-divider my-0">

		<!-- Nav Item - Dashboard -->
		<li class="nav-item active">
			<a class="nav-link" href="index.html">
				<i class="fas fa-fw fa-tachometer-alt"></i>
				<span>Dashboard</span></a>
		</li>

		<!-- Divider -->
		<hr class="sidebar-divider">

		<!-- Heading -->
		<div class="sidebar-heading">
			Interface
		</div>

		<!-- Nav Item - Pages Collapse Menu -->
		<li class="nav-item">
			<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
				aria-expanded="true" aria-controls="collapseTwo">
				<i class="fas fa-fw fa-wrench"></i>
				<span>Gestion de service </span>
			</a>
			<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">

					<a class="collapse-item" th:href="@{/service/add}">Ajouter</a>
					<a class="collapse-item" th:href="@{/service/list}">Liste</a>

				</div>
			</div>
		</li>

		<!-- Nav Item - Utilities Collapse Menu -->
		<li class="nav-item">
			<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilitiesAgent"
				aria-expanded="true" aria-controls="collapseUtilities">
				<i class="fas fa-fw fa-wrench"></i>
				<span>Gestion des Agents</span>
			</a>
			<div id="collapseUtilitiesAgent" class="collapse" aria-labelledby="headingUtilities"
				data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">
					<h6 class="collapse-header">Agents </h6>
					<a class="collapse-item" th:href="@{/agent/add}">Ajouter</a>
					<a class="collapse-item" th:href="@{/agent/list}">Liste</a>
				</div>
			</div>
		</li>

		<li class="nav-item">
			<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilitiesProvider"
				aria-expanded="true" aria-controls="collapseUtilities">
				<i class="fas fa-fw fa-wrench"></i>
				<span>Gestion Actualités</span>
			</a>
			<div id="collapseUtilitiesProvider" class="collapse" aria-labelledby="headingUtilities"
				data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">
					<h6 class="collapse-header">Actualités</h6>
					<a class="collapse-item" th:href="@{/actuality/add}">Ajouter</a>
					<a class="collapse-item" th:href="@{/actuality/list}">Liste</a>
				</div>
			</div>
		</li>

		<li class="nav-item">
			<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilitiesArticle"
				aria-expanded="true" aria-controls="collapseUtilities">
				<i class="fas fa-fw fa-wrench"></i>
				<span>Gestion de message </span>
			</a>
			<div id="collapseUtilitiesArticle" class="collapse" aria-labelledby="headingUtilities"
				data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">
					<h6 class="collapse-header">Message </h6>
					<a class="collapse-item" th:href="@{/message/add}">Ajouter</a>
					<a class="collapse-item" th:href="@{/message/list}">Liste</a>
				</div>
			</div>
		</li>

		<li class="nav-item">
			<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilitiesConfig"
				aria-expanded="true" aria-controls="collapseConfig">
				<i class="fas fa-fw fa-cog"></i>
				<span>Configuration</span>
			</a>
			<div id="collapseUtilitiesConfig" class="collapse" aria-labelledby="headingUtilities"
				data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">
					<h6 class="collapse-header">Configuration</h6>
					<a class="collapse-item" th:href="@{/config/add}">Ajouter</a>
					<a class="collapse-item" th:href="@{/config/list}">Liste</a>
				</div>
			</div>
		</li>

		<li class="nav-item">
			<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilitiesRole"
				aria-expanded="true" aria-controls="collapseRole">
				<i class="fas fa-fw fa-cog"></i>
				<span>Gestion des rôles</span>
			</a>
			<div id="collapseUtilitiesRole" class="collapse" aria-labelledby="headingUtilities"
				data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">
					<h6 class="collapse-header">Gestion des rôles</h6>
					<a class="collapse-item" th:href="@{/role/add}">Ajouter</a>
					<a class="collapse-item" th:href="@{/role/list}">Liste</a>
				</div>
			</div>
		</li>
		
		<li class="nav-item">
			<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilitiesUser"
				aria-expanded="true" aria-controls="collapseUser">
				<i class="fas fa-fw fa-cog"></i>
				<span>Gestion des utlisateurs</span>
			</a>
			<div id="collapseUtilitiesUser" class="collapse" aria-labelledby="headingUtilities"
				data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">
					<h6 class="collapse-header">Gestion des utlisateurs</h6>
					<a class="collapse-item" th:href="@{/user/add}">Ajouter</a>
					<a class="collapse-item" th:href="@{/user/list}">Liste</a>
				</div>
			</div>
		</li>

		<!-- Divider -->
		<hr class="sidebar-divider">


	</ul>
	<!-- End of Sidebar -->
</div>