<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>GestiBank - Accès restreint</title>
  <link rel="stylesheet" th:href="@{/css/style-403.css}">

</head>
<body>
<!-- partial:index.partial.html -->
<head><link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
</head>
<body>
  <div class="message">Vous n'êtes pas autorisé.
  </div>
  <div class="message2">Vous avez essayé d'accéder à une page dont vous n'avez pas les autorisations.<br><a th:href="@{/}">Retour à l'accueil</a></div>
  <div class="container">
    <div class="neon">403</div>
    <div class="door-frame">
      <div class="door">
        <div class="rectangle">
      </div>
        <div class="handle">
          </div>
        <div class="window">
          <div class="eye">
          </div>
          <div class="eye eye2">
          </div>
          <div class="leaf">
          </div> 
        </div>
      </div>  
    </div>
  </div>
</body>
<!-- partial -->
  
</body>
</html>
